
body {
    color: #e1e1e1;
}
#content{
    background-color: #1a1a1a;
}

.header{
    background-color: #000000;
}

nav.sidebar{
    background-color: #120118;
}

/*Atributos de las cajas a cambiar

1) El color de los botones 
2) Color del sidebar 
3) Color del header 
4) Color del footer
5) Color de las cajitas de los post, articulos etc...
*/ 