/*Estilos de la cabecera*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;    
}
div.container{
    width: 100%;
    height: 100vh;
    background-color: #1a1a1a;
    display: grid;
    grid-template-columns: minmax(100px, 10%) 1fr;
    grid-template-rows: 10% auto;
    grid-template-areas: 
    "cabecera cabecera"
    "navegacion contenido"
    "pie pie";
}

.header {
    display: flex;
    position: fixed;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    width: 100%; 
    z-index: 100;
    grid-area: cabecera;
}

.logoApp{
    grid-column: 1;
    grid-row: 1;
}

.searchBar{
    position: relative;
    left: 10%;
    width: 40%;
}

.searchInput{
    display: inline-block;
    width: 30%;
}

.session{
    display: flex;
    justify-content: flex-end;
    margin-right: 1%;
}

.info_session{
    width: 50%;
}

.contenedor_texto{
    width: 50%;
}

/*Estilos del menu de navegacion*/ 

nav.sidebar {
    border: solid 2px #230058;
    min-width: 100px;
    width: 10%; 
    height: 100vh;
    position:  fixed;
    grid-area: navegacion;
}

ul.opciones{
    margin-top: 100px;
}

.opciones {	
    margin-top: 12vh;
}

.opciones > li {
    margin-bottom: 5%;
    position: relative;
    list-style: none;
}
.opciones > li  a img{
    transition: transform 0.5s ease-out;
}
.opciones > li a img:hover {
    transform: scale(1.3);
}
.opciones ul {
    padding: 0;
    padding-left: 10%;
    margin: 0;
    list-style: none;
}

.opciones > li a:hover +.desplegable {
    visibility: visible;
    position: unset;
}

.desplegable{
    position: absolute;
    visibility: collapse;
}
.desplegable:hover{
    visibility: visible;
    position: unset;
}


/*Contenido principal de la pagina*/


#content {
    grid-area: contenido;
    display: grid;
    grid-template-columns: 15% 65% 20% ; 
    grid-template-rows: minmax(25px, auto);
    text-align: center;
    min-width: 100px;
    padding-bottom: 10%;
}


.texto_infor{
    grid-column-start: 2;
    grid-row-start: 1;
}

div#mensaje_bienvenida{
    grid-column-start: 2;
    grid-row-start: 2;
}


/*Estilo de Footer*/

footer.footer {
    height: 8%;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #081c31;
    border-top: solid 3px #2685b1;
}

/*Estilo de los post*/ 

section{
    grid-column-start: 2;
    color: #cdcdcd;
    display: flex;
    flex-direction: column;
    min-width: 200px;
}

article {
    background-color: #2c292e; 
    border: solid 2px #230058;
    display: flex;
    flex-direction: row;
    position: relative; 
    align-items: center;
    justify-content: space-evenly;
    border-radius: 25px;
    padding-bottom: 1%;
    padding-top: 1%;
    margin-top: 1%;
    word-break: break-all;

}

article.estiloPost{
    background-color: #2c292e;
    border: solid 2px #230058;
    flex-direction: column;
    justify-content: space-between;
    word-break: break-all;
    position: relative;
}
article.estiloPost div.botones_mensaje {
    display: flex;
    padding: 1%;
}

article.estiloUsers{
    background-color: #081c31;
    border: solid 2px #230058;
    width: 80%; 
    margin: auto;
    z-index: 100;
}
article.estiloUsers div.botones_mensaje {
    display: flex;
    padding-right: 20%;
}
.estiloPed{
    justify-content: space-around;
}

.estiloPedido{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;

    position: relative;
    overflow-x:auto;
    max-width: 55%;
    min-width: 80px;
}
.estiloProd{
    padding: 1%;
    margin: 1%;
}
.user_info{
    display: flex;

    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.modElim{
    margin-left: auto;
    position: absolute;
    right: 20px;
}
.modElim form{
    display: inline-block;
    margin-left: auto;
}

.user_info button{
    margin-left: auto
}
div.post_info {
    display: flex; 
}
div.responder {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
    padding: 6%;
    word-break:normal;
    min-width: 100px;
    border: solid 2px #230058;
    border-radius: 25px;
    background-color: #412d4e;
    transition: background-color 2.5s ease-out;
    transition: background-color 0.5s ease-out, transform 2.5s ease-out;
}
div.responder label {
    margin: 10px; /* Ajusta este valor según tus necesidades */
}

div.responder input {
    margin: 10px; /* Ajusta este valor según tus necesidades */
}
div.responder:hover{
    scale: 1.001;
    background-color: #230058;

}
.responder details > summary {
    list-style: none;
    cursor: pointer;
    font-size: 0.7em; /* Ajusta este valor según tus necesidades */
    font-weight: bold;

}

.responder details > summary::-webkit-details-marker {  /* Chrome, Safari, Edge */
    display: none;
}

.responder details > summary::marker {  /* Firefox */
    display: none;
}




#headPost article {
    border: solid 5px #230058;
}

#post_respuestas article {
    margin-left: 14%;
    width: 75%; 
}

/*Estilo sin iniciar sesión*/

section.default {
    min-height: 92vh;
}

/*Estilo de la pagina de perfil del usuario*/

section.datos_perfil {
    width: 85%;
    display: flex;
    border: solid 6px #1e688b;
    border-radius: 25px;
    margin: 3% 5%; 
    padding-top: 5%;
    padding-right: 5%;
    align-items: center;
    flex-direction: column;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 4;
    background-color:#2c292e; 
}

section.datos_perfil div{
    display: flex;
    column-gap: 5%;
    flex-direction: row;
}

section.publicaciones_perfil{
    grid-column-start: 2;
    margin-top: 5%;
    grid-row-start: 2;
    margin-bottom: 10%;
}


section.datos_perfil button {
    width: 75px;
    height: 45px;
}

div.user_image img {
    border-radius:150px;
    border:3px solid white;
}

/*Estilo de la pagina de ajustes*/

section.botonesEstilo {
    display: flex;
    flex-direction: column;
    grid-column-start: 3;
    grid-row-start: 2;
}


.settingsProfile {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 100;
    grid-area: cabecera;
}

.foto_perfil,
.eliminar_cuenta {
    flex: 1; /* Para que cada div ocupe el mismo espacio */
    text-align: center; /* Alineación de texto centrada */
    padding-right: 20%;
}

.estiloPed div.prod_info{
    display: flex;
    flex-direction: column;
    align-items:baseline;
    width: auto;
    word-break: keep-all;

}
/*Estilo de la pagina de tienda */
.prod_info a{
    text-decoration: none;
    color: inherit;
    transition: transform 0.5s ease-out;
    
}
.prod_info a:hover img{
    transform: scale(1.3);
}
.prod_info a:hover p{
    color: purple;
    background-color: #fff;
}

/*Referente al estilo de los formularios*/ 

section.formulario_style{
    grid-column-start: 2;
    display: flex;
    /*background-color: #120118;*/
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    border-radius: 25px;
    min-width: 100px;
}

section.formulario_style  form fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
}

/*Todos los elementos dentro de form*/
form fieldset *{
    margin-top: 10px;
    border-radius: 10px;
    height: 20%;
}

.form-field-error {
    display: block;
}

section.formulario_style form textarea{
    width: 50%;
}


fieldset legend {
    text-align: center;
}


fieldset div {
    justify-content: center;
    margin: 20px auto;
}


button  {
    background-color: #D4ADFC;
    border-radius: 15px;
    transition: background-color 0.3s ease-in-out;
    min-width: 30px;
    min-height: 25px;
}

button:hover  {
    background-color: #9338ef;
}

.InfoFoll-button {
    background-color: #a25df1; 
    border: none;
    width: 100px;
    height: 30px; 
}

.InfoFoll-button:hover {
    background-color: #00bfd8; 
}



#resumen_carrito{
    background-color: #120118;
    border-radius: 15px;
    border: 1px solid #41077b;
    grid-column-start: 3 ;
    grid-row-start: 2;
    margin: 5%;
}
.boton_publicar{
    grid-column-start: 3 ;
    grid-row-start: 1;
    margin-top: 1em;
}

.boton_publicar button {
    width: 100px; 
    height:  40px;
}


/*Estilo de la pagina de index*/

#tituloIndex{
    background-image: url('../img/FondoIndex.jpg');
    background-position: center bottom; /* Ajusta la posición de las imágenes */
    background-repeat: no-repeat; /* Evita que las imágenes se repitan */
    background-size: cover; /* Ajusta el tamaño de las imágenes al contenedor */
    color: #b32949;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    font-size: xx-large;
}
#enlacesIndex {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
#presentacion{
    background-color: black;
    background-image: url('../img/FondoIndex2.png');
    height: 30%;
    background-position: center bottom; /* Ajusta la posición de las imágenes */
    background-repeat: no-repeat; /* Evita que las imágenes se repitan */
    background-size: cover; /* Ajusta el tamaño de las imágenes al contenedor */
    padding: 3%;
}
#presentacion p, #presentacion h2{

    color: #fff;
    width: 50vw;
    min-width: 300px;
    text-align: justify;
}
#sang1{
    margin-left: 100px;
}
#sang2{
    margin-left: 200px;
}
.textoIndex{
    font-size: x-large;
}
#txtFinalIndx{
    font-size: x-large;
    color:#000;
}


/*Pruebas animaciones y notificacion */ 
#cantPedido {
    display: inline-block;
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: purple;
    border-radius: 50%;
}

#cantPedido #numberProd {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: white;
}


/* -------- ESTILO DEL APARTADO DE MÚSICA -------- */

/* Lista de playlists */
.musicHeader{
    grid-column: 2;
    height: 5em;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-block: 5px;
    margin-inline: 10px;
}

.musicButtons{
    grid-column: 2;
}
.musicButtons button a {
    text-decoration: none;
    color: inherit;
}

.musicButtons button a:hover {
    color: inherit;
}

.musicButtons button a:visited {
    color: inherit;
}


.musicList{
    grid-column: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.music_playlist{
    display: grid;
    grid-template-columns: 10% 60%;
    background-color: #BE16CC;
    border: 2px solid white;
    width: 80%;
    margin-block: 10px;
}

.music_playlist_image{
    display: inline-block;
    height: 95px;
}
.music_playlist_image img{
    width: 90px;
    height: 90px;
}

.music_playlist_info{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
}
.music_playlist_info p{
    margin-inline: 10px;
}
.music_playlist_info a{
    color: white;
    text-decoration: none;
}
.music_playlist_info a:hover{
    text-decoration: underline;
}

.playlistNotFound{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 2;
    grid-column-end: 3;
}
.songsNotFound,
.emptyPlaylists,
.creatingPlaylistError{
    grid-column-start: 2;
}

/* Lista de canciones de una playlist */
.playlist_header{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-column-start: 2;
    grid-column-end: 3;
    margin-inline: 8px;
    margin-bottom: 10px;
    border: 2px solid lightgray;
}

.playlist_image{
    display: flex;
    justify-content: flex-start;
    object-fit: contain;
    width: 120px;
    height: 120px;
}

.playlist_info{
    display: flex;
    flex-direction: column;
}
.playlist_extra_info{
    display: grid;
    grid-template-columns: 30%;
    align-content: center;
    justify-content: center;
    justify-items: stretch;
    height: 100%;
    padding-bottom: 8px;
}

.playlist_username{
    grid-column-start: 1;
    grid-column-end: 3;
}
.playlist_username a{
    text-decoration: underline;
    color: rgb(123, 175, 254);
}

.edit_playlist_buttons a{
    text-decoration: none;
    color: black;
}

.add_song_button{
    grid-column-start: 1;
    grid-column-end: 3;
}

.playlist_extra_info p{
    margin-inline: 6px;
}

.songlist{
    display: flex;
    flex-direction: column;
    grid-column: 2;
    margin-top: 1%;
    margin-inline: 8px;
    border: 2px solid lightgray;
}

/*  ----------------- HACER ----------------- */
/* Lista de canciones de un album */
.artist_music{
    display: flex;
    flex-direction: column;
    grid-column-start: 1;
    grid-column-end: 4;
    margin: 1% 4% 4% 4%;
}
.album_header{
    display: grid;
    align-items: center;
    align-content: center;
    justify-items: start;
    grid-template-columns: 10% 90%;
    height: 70px;
    margin-block: 5px;
    border: 2px solid rgba(211, 211, 211, 0.447);
    height: 90px;
}

.album_image{
    display: inline-block;
    margin-inline: 10px;
    width: 80%;
    height: 80%;
}
.album_image img{
    width: 100%;
    height: 95%;
}

.album_info{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-inline: 10px;
}
.album_info button{
    border: none;
    background: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.icono_flecha{
    width: 30px;
    height: 30px;
}

.album_song{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.songButtons{
    display: grid;
    grid-template-columns: 50% 50%;
    align-content: center;
    align-items: center;
    justify-items: center;
}

.playButton{
    border: none;
    background: none;
    cursor: pointer;
}
.playButton img{
    width: 30px;
    height: 30px;
}

.optionsButton{
    border: none;
    background: none;
    cursor: pointer;
}
.optionsButton img{
    width: 30px;
    height: 30px;
}


/* Formulario de creación de playlist */
.createPlaylistForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.createPlaylistImage img{
    width: 120px;
    height: 120px;
    object-fit: contain;
}

.createPlaylistConfig{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Botón para seleccionar privacidad de la playlist */

/* Cancion de una playlist */
.playlistSong{
    display: grid;
    grid-template-columns: 15% auto;
}
.playlistSong img{
    width: 80px;
    height: 80px;
    margin: 5px;
}

.songInfo {
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

.songNameAndArtist p{
    margin: 0px;
}

/* Apartado de explorar música */

.explorarCanciones{
    grid-column-start: 2;
    display: flex;
    /*background-color: #120118;*/
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    border-radius: 25px;
    min-width: 100px;
    margin-top: 20px;
}

.tablaGeneros{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-column-start: 2	;
}
.tablaGeneros a{
    text-decoration: none;
    color: white;
}

.musicalGenre{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 140px;
    background-color: #488FCB;
    margin: 5px;
    border-radius: 10px;
    border: solid 2px #6F0995;
}

.artistMusicButtons{
    grid-column-start: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.artistMusicButtons a{
    text-decoration: none;
    color: inherit;
}

/*Estilo reproductor */

#playlist{
    list-style: none;
}
#playlist li a{
    color:rgb(255, 255, 255);
    text-decoration: none;
}
@keyframes blinkColor {
    0%, 100% {
        color: rgb(239, 255, 100);
    }
    50% {
        color: rgb(255, 255, 255);
    }
}

#playlist .current-song a {
    animation: blinkColor 4s infinite;
}

.player-button {
    background: transparent;
    border: none;
}

.player-button:hover {
    background: transparent;
}

.player-button img {
    transition: transform 0.3s ease;
}

.player-button:hover img {
    transform: scale(1.3);
}


/* Estilo hipervinculos */
a[name="user"] {
    color: #15d1ce; 
}


/*Estilo de la pagina de suscripciones*/

@keyframes pulsate {
    0% { box-shadow: 0 0 10px rgba(255, 215, 0, 0.5); }
    50% { box-shadow: 0 0 40px rgba(255, 215, 0, 0.8); }
    100% { box-shadow: 0 0 10px rgba(255, 215, 0, 0.5); }
}
#suscripciones {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    color: white;
    border-radius: 10px;
    background: goldenrod;
    transition: box-shadow 0.5s ease-out;
    animation: pulsate 4s infinite;
}
#suscripciones:hover {

    box-shadow: 0 0 40px rgba(255, 215, 0, 0.8); /* Añade esta línea */
    animation: none;
}
/*
@keyframes pulsate1 {
    0% { box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); }
    50% { box-shadow: 0 0 40px rgba(255, 255, 255, 0.8); }
    100% { box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); }
}*/

#suscripciones .tipo_suscripcion {
    flex: 1 0 auto;
    
    margin: 10px;
    padding: 20px;
    padding-bottom: 80px;
    padding-top: 80px;
    background-color: black;
    border-radius: 5px;
    text-align: center;

}

.timer {
    font-size: 24px;
    background-color: rgba(255, 215, 0, 0.8);
    padding: 40px;
    margin: 20px;
    border-radius: 8px;
    color: black;
    box-shadow: 0 4px 6px rgba(20,25,20,0.8);
    transition: box-shadow 0.5s ease-out;
    animation: pulsate 4s infinite;
}
.timer:hover {

    box-shadow: 0 0 40px rgba(255, 215, 0, 0.8); /* Añade esta línea */
    animation: none;
}
.simboloSuscrito{
    vertical-align: middle;
}
#actualizarAdmin{
    grid-column-start: 1;
    max-height: 250px;
    margin: 10px;
    margin-top: 55px;
    background-color: #5b208b;
    border-radius: 29px;
    border:  solid 5px #230058;
}