/*Estilos de la cabecera*/

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f4f4f4;
}

div.container{
width: 100%;
height: 100vh;
display: grid;
grid-template-columns: 16% 84%;
grid-template-rows: 10% auto;
grid-template-areas: 
"cabecera cabecera"
"navegacion contenido"
"navegacion contenido";
}


.header {
	height: 10%;
	text-align: right;
    background-color: lightblue;
	align-items: center;
	justify-content: space-between;
	display: flex;
	position: fixed; 
	width: 100%; 
	z-index: 100;
	grid-area: cabecera;
}


header div.info_session{
	padding-right: 100px;
	width: 50px;
	padding-bottom: 20px;
	font-size: 20px;
	display: inline-flex;
	text-align: center;
	
}

header div.contenedor_texto {
	display: inline-flex;
	padding-right: 20%;
}


/*Estilos del menu de navegacion*/ 

nav.sidebar {
	background-color: lightgreen;
	min-width: 150px;
	width: 16%; 
	height: 100vh;
	position:  fixed;
	grid-area: navegacion;
}

dl.opciones {
	padding-top: 50%;
}

dt  details  summary {
    list-style: none; /* Elimina la lista de estilos, incluida la flecha */
    cursor: pointer; /* Mantiene el cursor como puntero para indicar que se puede hacer clic */
    padding-left: 2rex; /* Espacio para el marcador personalizado */
  }

dt details  summary::before {
    content: "\2630"; /* Marcador personalizado */
  }


/*Contenido principal de la pagina*/


main {
	width: 100%;
	background-color: lightgray;
	grid-area: contenido;
	display: grid;
	grid-auto-columns: 30% 35% 25% ; 
	grid-auto-rows: minmax(25px, auto);
	grid-column-gap: 5%;
	min-width: 300px;

}


.texto_infor{
	grid-column-start: 2;
	grid-row-start: 1;
}

div#mensaje_bienvenida{
	grid-column-start: 2;
	grid-row-start: 2;
}

/*Estilo de los post*/ 

section{
	
	grid-column-start: 2;
	grid-row-start: 2;
	display: flex;
	flex-direction: column;

	min-width: 200px;
}



article {
	background-color: rgb(197, 182, 231); 
	width: 100%; 
	display: flex;
	flex-direction: row; 
	align-items: center;
	border: solid 1px #000;
	border-radius: 10%;
	padding: 5%;
	
}
article.estiloPost{
	background-color: rgb(224, 252, 255); 
	flex-direction: column; 
	word-break: break-all;
}
article.estiloPost div.botones_mensaje {
	display: flex;
	padding: 5%;
}




div.user_info {
	display: flex; 
}
div.post_info {
	display: flex; 
	
}


section.listaPost#respuestas div#headPost article {
	border: solid 3px #000;
}

section.listaPost#respuestas div#post_respuestas article {
	margin-top: 15%;
	margin-left: 25%; 
	width: 75%; 
}

/*Estilo de la pagina de perfil del usuario*/

section.datos_perfil {
	grid-row-start: 1;
	grid-column-start: 2;
	display: flex;
	align-items: center;
	justify-content: space-between;
	
}

section.fotoPerfil {
	grid-row-start: 2;
	grid-column-start: 2;
}

section.estiloPerfil section.listaPost {
	grid-column-start: 2;
	grid-row-start: 2;
}


/*Estilo de la pagina de ajustes*/

section.botonesEstilo {
	display: flex;
	flex-direction: column;
	grid-column-start: 3;
	grid-row-start: 2;
}


/*Estilo de la pagina de tienda */ 



/*Referente al estilo de los formularios*/ 

section.formulario_style{
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 2;
	display: flex; 
	flex-direction: column;
	width: 300px;
}


fieldset legend {
	text-align: center;
}

fieldset.formRegistro {
	background-color: lightgray;
}

button  {
	background-color: lightgreen;
	border-radius: 20%;
}

form.boton_publicar{
	grid-column-start: 3 ;
	grid-row-start: 1;
	margin-top: 1em;
}

form.boton_publicar button {
	width: 100px; 
	height:  40px;
}

/*Footer de la pagina (sin usar) */ 
.footer{
	background-color: lightseagreen;
}