body {
    color: #020202;
}

#content {
    background-color: #3d3a3a;
}

.header{
    background-color: #eba1a1;
}

nav.sidebar{
    background-color: #bf75da;
}

/*Atributos de las cajas a cambiar

1) El color de los botones 
4) Color del footer
5) Color de las cajitas de los post, articulos etc...
6) Color del texto 

*/ 